---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import AboutusImage from "../../public/images/HairImage1.jpeg";
import Service from "../components/Service.astro";
import Price from "../components/Price.astro";
---

<Layout>
  <section>
    <div class="container">
      <h3>ABOUT <span class="us">US</span></h3>
    </div>
    <div class="about-us">
      <div class="aboutus-para">
        <h2 class="years">20+</h2>
        <h2 class="years-heading">YEARS OF EXPERIENCE</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
          deserunt inventore ut voluptate, officia maiores repellat tenetur
          praesentium omnis est ex tempora a necessitatibus reiciendis at et
          dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
          laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
          iusto error molestias dolorum, necessitatibus labore?
        </p>
        <a href="/appointment"
          ><button class="btn app-btn">Book Appointment</button></a
        >
      </div>
      <div class="aboutus-img-div">
        <Image src={AboutusImage} alt="About us Image" class="aboutus-img" />
      </div>
    </div>
  </section>
  <Service />
  <Price />
</Layout>

<style>
  .container {
    font-size: 42px;
    color: #333333eb;
    text-align: center;
    background-color: var(--color-primary);
    padding: 46px;
    margin-bottom: 40px;
    color: #f6f6f6f6;
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .us {
    color: var(--color-secondary);
  }
  .about-us {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .years {
    font-family: "Herr Von Muellerhoff", cursive;
    font-size: 70px;
    font-weight: lighter;
    color: var(--color-secondary);
  }

  .years-heading {
    letter-spacing: 8px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to right, #7e6b59, #ae8e6f, #fff);
  }

  .aboutus-para {
    width: 50%;
    padding: 0 60px;
    margin: auto;
    text-align: justify;
  }

  .aboutus-para p {
    margin-bottom: 40px;
  }

  .aboutus-img-div {
    width: 35%;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .aboutus-img {
    width: 70%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 8px ridge #7e6b59;
  }

  @media screen and (max-width: 600px) {
    .aboutus-para {
      padding: 0 30px;
    }

    .aboutus-para p {
      font-size: 14px;
    }

    .years {
      font-size: 58px;
    }

    .years-heading {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 850px) {
    .about-us {
      display: block;
      height: 100%;
      padding-top: 30px;
      margin: auto;
    }

    .aboutus-para {
      width: 100%;
      text-align: center;
    }

    .aboutus-img-div {
      display: none;
    }
  }
</style>
