---

---

<header class="header">
  <div class="mobile-view">
    <div class="logo">
      <img src="/images/logo.png" class="logo-img" />
    </div>
    <div class="hamburger">
      <div id="openNav">
        <img src="/images/hamburger-svgrepo-com.svg" />
      </div>
      <div id="myNav" class="overlay">
        <div id="closeNav">
          <a href="javascript:void(0)" class="closebtn"> &times;</a>
        </div>
        <div class="overlay-content" id="myNav">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/services ">Services</a>
          <a href="/contact ">Contact</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="logo">
      <a href="index.html">
        <img src="/images/logo.png" alt="logo image" />
      </a>
    </div>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/services ">Services</a>
      <a href="/contact ">Contact</a>
    </nav>
  </div>
</header>
<style>
  /* Header */

  .header {
    height: 70px;
    width: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    overflow: hidden;
    z-index: 2;
    background-color: var(--color-primary);
  }

  .header .container {
    height: 100%;
    display: flex;
    background-color: #b49377;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* border-bottom: 1px solid #7c6856; */
  }

  .header img {
    height: 35px;
    vertical-align: middle;
  }

  .header nav {
    display: flex;
  }

  .header nav a {
    padding: 0 10px;
    color: #fdfdfd;
  }

  /* .header nav a {
    color: #fdfdfd;
  } */

  .mobile-view {
    display: none;
  }

  @media screen and (max-width: 480px) {
    .mobile-view {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 20px;
      align-items: center;
    }

    .container {
      display: none;
    }

    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
    }

    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }

    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .overlay a:hover,
    .overlay a:focus {
      color: #f1f1f1;
    }

    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
  }
</style>

<script>
  document.getElementById("openNav").addEventListener("click", function () {
    document.getElementById("myNav").style.width = "100%";
  });

  document.getElementById("closeNav").addEventListener("click", function () {
    document.getElementById("myNav").style.width = "0%";
  });
</script>
